<% items.each do |item| %>
    <p>
    <strong>Tipo:</strong>
    <%= item.tipo %>
  </p>

  <p>
    <strong>Materiale:</strong>
    <%= item.materiale %>
  </p>

  <p>
    <strong>Diametro:</strong>
    <%= item.diametro %>
  </p>

  <p>
    <strong>Lunghezza:</strong>
    <%= item.lunghezza %>
  </p>

  <p>
    <strong>Larghezza:</strong>
    <%= item.larghezza %>
  </p>

  <p>
    <strong>Spessore:</strong>
    <%= item.spessore %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= item.descrizione %>
  </p>

  <p>
    <strong>Stato:</strong>
    <%= item.stato %>
  </p>

  <p>
    <strong>Desc stato:</strong>
    <%= item.desc_stato %>
  </p>

  <p>
    <strong>Created by user:</strong>
    <%= item.created_by_user %>
  </p>

  <p>
    <strong>Created by time:</strong>
    <%= item.created_by_time %>
  </p>

  <p>
    <strong>Deleted by user:</strong>
    <%= item.deleted_by_user %>
  </p>

  <p>
    <strong>Deleted by time:</strong>
    <%= item.deleted_by_time %>
  </p>

  <p>
    <strong>Img path:</strong>
    <%= item.img_path %>
  </p>

  <p>
    <strong>From commessa:</strong>
    <%= item.from_commessa %>
  </p>

  <p>
    <strong>From disegno:</strong>
    <%= item.from_disegno %>
  </p>
  <% end %>