 <% @items.each do |item| %>
  <tr>
  <td><%=item.tipo%></td>         
  <td><%=item.materiale%></td>
  <td><%=item.diametro%></td>    
  <td><%=item.larghezza%></td>      
	<td><%=item.lunghezza%></td> 
	<td><%=item.spessore%></td> 
	<td><%=item.descrizione%></td> 
	<td><%=item.stato%></td> 
	<td><%=item.desc_stato%></td>
  <td><%= link_to "Dettagli", item %></td> 

  <% if current_user.admin?  %>
    <td><%= link_to "Modifica", edit_item_path(item) %></td>
    <td><%= button_to "Elimina", item, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
  <% end %>

  </tr>
<% end %>